:host {
  display: block;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.logo {
    width: 400px;
    margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #1976d2;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #155a9e;
  }
}

.products-section {
  padding: 2rem;
  margin-top: 4rem;
  text-align: center;
  background-color: #f5f5f5;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  .btn {
    margin-top: 2rem;
  }
}

.products-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

@media (max-width: 576px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  app-product-card {
    width: auto;
  }
}
