:host {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #FFFFFF;
  color: #000;
  position: relative;
}

.navbar-brand {
  color: #000;
  text-decoration: none;
}

.navbar-logo {
  height: 80px;
  border-radius: 10px;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-toggler-icon {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }
}

.navbar-collapse {
    display: flex;
    width: auto;
    position: inherit;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  margin-left: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
  border-style: solid;
  border-color: #000000;
  cursor: pointer;

  &:hover {
    color: #000000;
    background-color: #f0f0f0;
  }
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #111;
    padding: 1rem;
    box-sizing: border-box;

    &.show {
      display: flex;
    }
  }

  .nav-link {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .h1{
    color: rgb(224, 224, 230);
    font: size 0.8em;
    text-align: center;
    margin: top 10px;;
    padding: 2px;
  }
}