<div class="modal-overlay" [class.hidden]="!modalService.isOpen$()">
  <div class="modal-content">
    <h2>Item Added to Cart</h2>
    <div *ngIf="cartService.cartItems().length > 0; else emptyCart">
      <ul>
        <li *ngFor="let item of cartService.cartItems()">
          {{ item.name }}<span *ngIf="item.color"> - {{ item.color.name }}</span><span *ngIf="item.size"> - {{ item.size }}</span> - {{ item.price | currency }} x {{ item.qty }}
          <button (click)="cartService.remove(item.id, item.size, item.color)">Remove</button>
        </li>
      </ul>
      <hr>
      <p>Total: {{ cartService.total() | currency }}</p>
    </div>
    <ng-template #emptyCart>
      <p>Your cart is empty.</p>
    </ng-template>
    <div class="modal-actions">
      <button (click)="modalService.close()">Continue Shopping</button>
      <a routerLink="/checkout" (click)="modalService.close()">Go to Checkout</a>
    </div>
  </div>
</div>
